<td>
  {{#if isEditing}}
    {{add-category-input on-change=(action "commit")}}
  {{else}}
    <a href="#" {{action "showEditor"}}>Add category</a>
  {{/if}}
</td>

{{#each months}}
  <td></td>
  <td></td>
{{/each}}
