{{! Totals }}
<tr class={{headerClass}}>
  <td></td>
  {{#each months}}
    <th>0</th>
    <th>0</th>
  {{/each}}
</tr>

{{! Category operations }}
{{#each categories as |category|}}
  <tr>
    {{edit-category category}}
    {{#each months as |month|}}
      {{operation-by-month month category}}
    {{/each}}
  </tr>
{{/each}}
{{add-category budget=budget type=type}}
