{{! Totals }}
<tr>
  <td></td>
  {{#each months}}
    <th>0</th>
    <th>0</th>
  {{/each}}
</tr>

{{! Category operations }}
{{#each categories as |category|}}
  <tr>
    {{active-cell disabled=category.isSaving value=category.name on-change=(action "commit" category)}}
    {{#each months as |month|}}
      {{operation-by-month month category}}
    {{/each}}
  </tr>
{{/each}}
{{add-category type=type}}
