.budget-table {
  border-collapse: collapse;
}

.budget-table td,
.budget-table th {
  font-weight: normal;
  padding: 0;
  border: 1px solid lightgray;
  font-size: 14px;
}

.outgo-row {
  background-color: red;
}

.active-cell input {
  width: 3em;
  height: 1.8em;
  padding: 5px 8px;
  border: 0;
  text-align: center;
}

.active-cell input:focus {
  outline: 3px solid green;
}
