.budget-table {
  border-collapse: collapse;

  td, th {
    padding: 3px 7px;
    border: 1px solid $color-gray;
    text-align: center;
    font-weight: normal;

    &:first-child {
      text-align: left;
    }
  }

  &__income-header {
    background-color: honeydew;
  }

  &__outgo-header {
    background-color: blanchedalmond;
  }
}
