$sidebar-width: 65px;

$row-height-base: 35px;

$padding-base: 15px;
$padding-small: 8px;

$spacing-base: 15px;
$spacing-small: 8px;
$spacing-large: 20px;

$border-width-base: 1px;
$border-width-normal: 2px;
$border-width-large: 3px;
