<header>
  <h2 class="main__year">{{model.id}}</h2>
</header>

<table class="main__table budget-table">

  {{ops-head months}}
  {{ops-year model.months model.categories budget=model type="income"}}
  {{ops-year model.months model.categories budget=model type="outgo"}}

</table>
