<h2>{{model.id}}</h2>

<table class="budget-table">

  {{ops-head months}}
  {{ops-year model.months model.categories budget=model type="income"}}
  {{ops-year model.months model.categories budget=model type="outgo"}}

</table>
