<form class="id" {{action "authenticate" on="submit"}}>
  {{input class="id__textbox" placeholder="Username" value=username}}
  {{input class="id__textbox" placeholder="Password" type="password" value=password}}
  <button class="id__button" type="submit">Login</button>
</form>
