<div class="screen">
  <div class="id-wrapper">
    {{id-register onSubmit=(action "register")}}
    <section class="id-wrapper__section id">
      <h3 class="id__greeting">or login here</h3>
      <form {{action "authenticate" on="submit"}}>
        <div class="id__row">
          {{input class="id__textbox" placeholder="Username" value=username}}
        </div>
        <div class="id__row">
          {{input class="id__textbox" placeholder="Password" type="password" value=password}}
        </div>
        <div class="id__row">
          <button class="id__button" type="submit">Login</button>
        </div>
      </form>
    </section>
  </div>
</div>
